@model RestaurantSystem_2_.Models.ViewModel.FooterViewModel
<footer>
    <div class="container">
        <div class="footer-widgets">
            <div class="row">
                <!-- Column 1 -->
                <div class="col-md-4">
                    <div class="foo-block">
                        <div class="widget widget-footer widget_text">
                            <div class="textwidget">
                                <p><img src="@Model.Tbl_FirmaBilgiler.Logo" alt="Logo" width="143" height="51"></p>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Column 2 -->
                <div class="col-md-4">
                    <div class="foo-block">
                        <div class="widget widget-footer widget_text">
                            <h5 class="widgettitle"><span>Adres</span></h5>
                            <div class="textwidget">
                                <p>@Model.Tbl_FirmaBilgiler.Adres</p>
                                <p>
                                  Telefon: @Model.Tbl_FirmaBilgiler.TelNo<br>
                                    Eposta: <a href="#">@Model.Tbl_FirmaBilgiler.Eposta</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Column 4 -->
                <div class="col-md-4">
                    <div class="foo-block foo-last">
                        <div class="widget widget-footer widget_text">
                            <h5 class="widgettitle"><span>More Info</span></h5>
                            <div class="textwidget">
                                <ul>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Get in Touch</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- footer-widgets -->

        <div class="copyright">
            <div class="footer-copy">
                <p>&copy; 2025, Furkan Aydemir</p>
            </div>
            <ul class="footer-social">
                <li><a class="social-facebook" href="@Model.Tbl_FirmaBilgiler.FacebookURL" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="social-twitter" href="@Model.Tbl_FirmaBilgiler.TwitterURL" target="_blank"><i class="fab fa-twitter"></i></a></li>

                <li><a class="social-instagram" href="@Model.Tbl_FirmaBilgiler.InstagramURL" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- Scroll to Top -->
<div class="scrollup">
    <a class="scrolltop" href="#"><i class="fa fa-chevron-up"></i></a>
</div>