@model RestaurantSystem_2_.Models.ViewModel.NavbarViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NavbarPartial</title>
</head>
<body>
    <div class="mobile-menu-holder">
        <div class="modal-menu-container">
            <div class="exit-mobile">
                <span class="icon-bar1"></span>
                <span class="icon-bar2"></span>
            </div>
            <!-- MOBILE MENU -->
            <ul class="menu-mobile">
                <li class="menu-item menu-item-has-children current-menu-item">
                    <a href="/Anasayfa">Anasayfa</a>

                </li>
                <li class="menu-item menu-item-has-children">
                    <a href="~/Views/Home/Index.cshtml">Menü</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-has-children">
                            <a href="/Menu">Yemekler</a>
                            <ul class="sub-menu">
                                <li><a href="#suluyemek">Sulu Yemekler</a></li>
                                <li><a href="#etliyemek">Etli Yemekler</a></li>
                                <li><a href="#zeytinyağlıyemek">Zeytinyağlılar</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="/Menu">İçecekler</a>
                            <ul class="sub-menu">
                                <li><a href="sulu-yemekler.html">Sıcak İçecekler</a></li>
                                <li><a href="etli-yemekler.html">Soğuk İçecekler</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="/Menu">Tatlılar</a>
                            <ul class="sub-menu">
                                <li><a href="sutlu-tatlilar.html">Sütlü Tatlılar</a></li>
                                <li><a href="serbetli-tatlilar.html">Şerbetli Tatlılar</a></li>
                                <li><a href="dondurmalar.html">Dondurmalar</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Menu">Kahvaltılıklar</a>
                            <ul class="sub-menu">
                                <li><a href="serpme-kahvalti.html">Serpme Kahvaltı</a></li>
                                <li><a href="tostlar.html">Tostlar</a></li>
                                <li><a href="yumurta-cesitleri.html">Yumurta Çeşitleri</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Menu">Atıştırmalıklar</a>
                            <ul class="sub-menu">
                                <li><a href="patates.html">Patates Kızartması</a></li>
                                <li><a href="sigara-boregi.html">Sigara Böreği</a></li>
                                <li><a href="mini-pizza.html">Mini Pizza</a></li>
                            </ul>
                        </li>


                        <li>
                            <a href="/Menu">Burgerler</a>
                            <ul class="sub-menu">
                                <li><a href="klasik-burger.html">Klasik Burger</a></li>
                                <li><a href="cheeseburger.html">Cheeseburger</a></li>
                                <li><a href="double-burger.html">Double Burger</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Menu">Pizzalar</a>
                            <ul class="sub-menu">
                                <li><a href="karisik-pizza.html">Karışık Pizza</a></li>
                                <li><a href="vejetaryen-pizza.html">Vejetaryen Pizza</a></li>
                                <li><a href="pepperoni-pizza.html">Pepperoni Pizza</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Menu">Çocuk Menüsü</a>
                            <ul class="sub-menu">
                                <li><a href="cocuk-burger.html">Mini Burger</a></li>
                                <li><a href="cocuk-nugget.html">Tavuk Nugget</a></li>
                                <li><a href="cocuk-makarna.html">Sade Makarna</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Menu">Salatalar</a>
                            <ul class="sub-menu">
                                <li><a href="sezar-salata.html">Sezar Salata</a></li>
                                <li><a href="ton-balikli.html">Ton Balıklı Salata</a></li>
                                <li><a href="akdeniz-salatasi.html">Akdeniz Salatası</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Menu">Çorbalar</a>
                            <ul class="sub-menu">
                                <li><a href="mercimek.html">Mercimek Çorbası</a></li>
                                <li><a href="ezogelin.html">Ezogelin</a></li>
                                <li><a href="yayla.html">Yayla Çorbası</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Menu">Makarnalar</a>
                            <ul class="sub-menu">
                                <li><a href="mercimek.html">Makarna 1</a></li>
                                <li><a href="ezogelin.html">Makarna 2</a></li>
                                <li><a href="yayla.html">Yayla Makarna 3</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>

            </ul>
            <!-- /MOBILE MENU -->
        </div>
        <!-- modal-menu-container -->
        <div class="menu-contact">

            <ul class="mobile-contact">
                @*<li class="mobile-address">
                    Model.Tbl_FirmaBilgiler.Adres
                </li>*@
                <li class="mobile-phone">@Model.Tbl_FirmaBilgiler.TelNo</li>
                <li class="mobile-email"><a href="https://matchthemes.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="8be8e4e5ffeae8ffcbeef3eae6fbe7eea5e8e4e6">[email&#160;protected]</a></li>
            </ul>
            <ul class="social-media">
                <li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a class="social-tripadvisor" href="#" target="_blank"><i class="fab fa-tripadvisor"></i></a></li>
                <li><a class="social-instagram" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a class="social-pinterest" href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
            </ul>
        </div>
        <!-- /menu-contact-->
    </div>
    <!-- /MOBILE MENU HOLDER -->
    <!-- HEADER -->
    <header id="header-1" class="headerHolder header-1">
        <div class="nav-button-holder">
            <button type="button" class="nav-button">
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- /nav-button-holder-->
        <!-- LOGO -->
        <div class="logo logo-1"><a href="index.html"><img class="img-fluid" src="@Model.Tbl_FirmaBilgiler.Logo" alt="Caverta" /></a></div>
        <!-- MENU -->
        <nav class="nav-holder nav-holder-1">
            <ul class="menu-nav menu-nav-1">
                <li class="menu-item menu-item-has-children current-menu-item">
                    <a href="/Anasayfa">Anasayfa</a>
                </li>
                @*<li class="menu-item menu-item-has-children">
                    <a href="#">Menü</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-has-children">
                            <a href="/Menu">Yemekler</a>
                            <ul class="sub-menu">
                                <li><a href="#suluyemek">Sulu Yemekler</a></li>
                                <li><a href="#etliyemek">Etli Yemekler</a></li>
                                <li><a href="#zeytinyağlıyemek">Zeytinyağlılar</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="/Menu">İçecekler</a>
                            <ul class="sub-menu">
                                <li><a href="sulu-yemekler.html">Sıcak İçecekler</a></li>
                                <li><a href="etli-yemekler.html">Soğuk İçecekler</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="/Menu">Tatlılar</a>
                            <ul class="sub-menu">
                                <li><a href="sutlu-tatlilar.html">Sütlü Tatlılar</a></li>
                                <li><a href="serbetli-tatlilar.html">Şerbetli Tatlılar</a></li>
                                <li><a href="dondurmalar.html">Dondurmalar</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Menu">Kahvaltılıklar</a>
                            <ul class="sub-menu">
                                <li><a href="serpme-kahvalti.html">Serpme Kahvaltı</a></li>
                                <li><a href="tostlar.html">Tostlar</a></li>
                                <li><a href="yumurta-cesitleri.html">Yumurta Çeşitleri</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Menu">Atıştırmalıklar</a>
                            <ul class="sub-menu">
                                <li><a href="patates.html">Patates Kızartması</a></li>
                                <li><a href="sigara-boregi.html">Sigara Böreği</a></li>
                                <li><a href="mini-pizza.html">Mini Pizza</a></li>
                            </ul>
                        </li>



                        <li>
                            <a href="/Menu">Burgerler</a>
                            <ul class="sub-menu">
                                <li><a href="klasik-burger.html">Klasik Burger</a></li>
                                <li><a href="cheeseburger.html">Cheeseburger</a></li>
                                <li><a href="double-burger.html">Double Burger</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Menu">Pizzalar</a>
                            <ul class="sub-menu">
                                <li><a href="karisik-pizza.html">Karışık Pizza</a></li>
                                <li><a href="vejetaryen-pizza.html">Vejetaryen Pizza</a></li>
                                <li><a href="pepperoni-pizza.html">Pepperoni Pizza</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Menu">Çocuk Menüsü</a>
                            <ul class="sub-menu">
                                <li><a href="cocuk-burger.html">Mini Burger</a></li>
                                <li><a href="cocuk-nugget.html">Tavuk Nugget</a></li>
                                <li><a href="cocuk-makarna.html">Sade Makarna</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Menu">Salatalar</a>
                            <ul class="sub-menu">
                                <li><a href="sezar-salata.html">Sezar Salata</a></li>
                                <li><a href="ton-balikli.html">Ton Balıklı Salata</a></li>
                                <li><a href="akdeniz-salatasi.html">Akdeniz Salatası</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Menu">Çorbalar</a>
                            <ul class="sub-menu">
                                <li><a href="mercimek.html">Mercimek Çorbası</a></li>
                                <li><a href="ezogelin.html">Ezogelin</a></li>
                                <li><a href="yayla.html">Yayla Çorbası</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Menu">Makarnalar</a>
                            <ul class="sub-menu">
                                <li><a href="mercimek.html">Makarna 1</a></li>
                                <li><a href="ezogelin.html">Makarna 2</a></li>
                                <li><a href="yayla.html">Yayla Makarna 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>*@

            </ul>
        </nav>
        <!-- /MENU -->
        <div class="social-btn-top1">
            <ul class="social-media social-media1">
                <li><a class="social-facebook" href="@Model.Tbl_FirmaBilgiler.FacebookURL" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="social-twitter" href="@Model.Tbl_FirmaBilgiler.TwitterURL"  target="_blank"><i class="fab fa-twitter"></i></a></li>
              
                <li><a class="social-instagram" href="@Model.Tbl_FirmaBilgiler.InstagramURL"  target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>

        </div>
        <!-- /social-btn-top1 -->
    </header>
</body>
</html>
