@model RestaurantSystem_2_.Models.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="topSingleBkg topPageBkg">
    <div class="item-img top-menu-1col"></div>
    <div class="inner-desc">
        <h1 class="post-title single-post-title">Anasayfa</h1>
        <span class="post-subtitle"> Come and taste our delicacies</span>
    </div>
</section>
<div id="wrap-content" class="page-content custom-page-template">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-holder custom-page-template">
                    @{
                        int index = 0; // sıra sayacı
                    }

                    @foreach (var anaKategori in Model.Tbl_MenuKategori.Where(k => k.UstKategoriID == null).OrderBy(k => k.ID))
                    {
                        bool resimSagda = index % 2 == 0; // Çiftse resim sağda, tekse solda

                        <div class="row margin-b54">
                            @if (resimSagda)
                            {
                                <!-- Açıklama sol, resim sağ -->
                                <div class="col-md-6">
                                    @* Açıklamalar *@
                                    <div class="alignc">
                                        <div class="smalltitle margin-b16">1</div>
                                        <h2>@anaKategori.KategoriAd</h2>
                                    </div>

                                    @{
                                        var altKategoriler = Model.Tbl_MenuKategori.Where(k => k.UstKategoriID == anaKategori.ID).OrderBy(k => k.ID).ToList();
                                    }

                                    @foreach (var altKategori in altKategoriler)
                                    {
                                        <h3 class="margin-t30">@altKategori.KategoriAd</h3>
                                        <ul class="food-menu menu-1cols mobile-margin-b54">
                                            @{
                                                var yemekler = Model.Tbl_Menu.Where(y => y.KategoriID == altKategori.ID).OrderBy(y => y.ID).ToList();
                                            }

                                            @foreach (var yemek in yemekler)
                                            {
                                                <li>
                                                    <h4>
                                                        <span class="menu-title">@yemek.YemekAd</span>
                                                        <span class="menu-price">@yemek.Fiyat TL</span>
                                                    </h4>
                                                    <div class="menu-text">@yemek.Acıklama</div>
                                                </li>
                                            }
                                        </ul>
                                    }

                                    @{
                                        var anaKategoriYemekleri = Model.Tbl_Menu.Where(y => y.KategoriID == anaKategori.ID && !Model.Tbl_MenuKategori.Any(k => k.UstKategoriID == anaKategori.ID && k.ID == y.KategoriID)).OrderBy(y => y.ID).ToList();
                                    }

                                    @if (anaKategoriYemekleri.Any())
                                    {
                                        <ul class="food-menu menu-1cols mobile-margin-b54">
                                            @foreach (var yemek in anaKategoriYemekleri)
                                            {
                                                <li>
                                                    <h4>
                                                        <span class="menu-title">@yemek.YemekAd</span>
                                                        <span class="menu-price">@yemek.Fiyat TL</span>
                                                    </h4>
                                                    <div class="menu-text">@yemek.Acıklama</div>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                                <div class="col-md-6 alignc">
                                    <img src="@anaKategori.ResimURL" class="img-fluid" alt="@anaKategori.KategoriAd" style="height:700px; width:500px;" />
                                </div>
                            }
                            else
                            {
                                <!-- Resim sol, açıklama sağ -->
                                <div class="col-md-6 alignc">
                                    <img src="@anaKategori.ResimURL" class="img-fluid" alt="@anaKategori.KategoriAd" style="height:700px; width:500px;" />
                                </div>
                                <div class="col-md-6">
                                    @* Açıklamalar *@
                                    <div class="alignc">
                                        <div class="smalltitle margin-b16">1</div>
                                        <h2>@anaKategori.KategoriAd</h2>
                                    </div>

                                    @{
                                        var altKategoriler = Model.Tbl_MenuKategori.Where(k => k.UstKategoriID == anaKategori.ID).OrderBy(k => k.ID).ToList();
                                    }

                                    @foreach (var altKategori in altKategoriler)
                                    {
                                        <h3 class="margin-t30">@altKategori.KategoriAd</h3>
                                        <ul class="food-menu menu-1cols mobile-margin-b54">
                                            @{
                                                var yemekler = Model.Tbl_Menu.Where(y => y.KategoriID == altKategori.ID).OrderBy(y => y.ID).ToList();
                                            }

                                            @foreach (var yemek in yemekler)
                                            {
                                                <li>
                                                    <h4>
                                                        <span class="menu-title">@yemek.YemekAd</span>
                                                        <span class="menu-price">@yemek.Fiyat TL</span>
                                                    </h4>
                                                    <div class="menu-text">@yemek.Acıklama</div>
                                                </li>
                                            }
                                        </ul>
                                    }

                                    @{
                                        var anaKategoriYemekleri = Model.Tbl_Menu.Where(y => y.KategoriID == anaKategori.ID && !Model.Tbl_MenuKategori.Any(k => k.UstKategoriID == anaKategori.ID && k.ID == y.KategoriID)).OrderBy(y => y.ID).ToList();
                                    }

                                    @if (anaKategoriYemekleri.Any())
                                    {
                                        <ul class="food-menu menu-1cols mobile-margin-b54">
                                            @foreach (var yemek in anaKategoriYemekleri)
                                            {
                                                <li>
                                                    <h4>
                                                        <span class="menu-title">@yemek.YemekAd</span>
                                                        <span class="menu-price">@yemek.Fiyat TL</span>
                                                    </h4>
                                                    <div class="menu-text">@yemek.Acıklama</div>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            }
                        </div> <!-- /row -->

                        index++; 
                    }
                </div>
            </div>
        </div>
    </div>


</div>



